<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del personaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ character.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="character-detalles ion-padding" >
      <img src="{{character.image}}" class="imagen-personaje">
      <div class="detalles-div">
        <ion-label><b>Especie: </b>{{ character.species }}</ion-label> <br>
        <ion-label><b>Estado: </b>{{ character.status }}</ion-label> <br>
        <ion-label><b>Género: </b>{{ character.gender }}</ion-label> <br>
        <ion-label><b>Origen: </b>{{ character.origin.name }}</ion-label> <br>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="botones">
        <ion-button color="primary" slot="start" (click)="cerrarModal()">
          Atrás
        </ion-button>
        <ion-button color="danger" slot="end" (click)="callFunctionInHome(character.id, character.name)">
          Eliminar
        </ion-button>
    </ion-card-content> 
  </ion-card>
</ion-content>